public/aluminium-constructions.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="./css/import.css" rel="stylesheet">
    <link href="./css/main.min.css" rel="stylesheet">
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAp8P3pHCl5b28Eb8dYQhqlRVM0d5pSyL0"></script>
  </head>
  <body>
    <div id="wrap">
      <header class="header">
        <div class="wrapper">
          <div class="header__info-block">
            <button class="header__button">Позвонить</button>
            <div class="header__info"><a class="header__phone" href="tel:+77777777705">+7 (777) 777-77-05</a>
              <p class="header__time">
                Рабочее время:<br />Ежедневно с 10:00 до 19:00</p>
            </div>
          </div>
          <div class="header__menu-wrapper"><a href="/main.html"><img class="header__logo" src="./img/logo.png"></a>
            <nav class="header__nav">
              <ul class="header__menu">
                <li><a class="header__link" href="/main.html">Пластиковые окна и двери</a></li>
                <li><a class="header__link" href="/aluminium-constructions.html">Алюминевые конструкции</a></li>
                <li><a class="header__link" href="/services.html">Ремонт и сервис</a></li>
                <li><a class="header__link" href="/about-us.html">Наши партнеры и материалы </a></li>
                <li><a class="header__link" href="/tips-tricks.html">Советы и инструкции</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="aluminium"><img class="aluminium__yellow-spot" src="./img/yellow-spot.png">
          <div class="wrapper">
            <div class="aluminium__title">Алюминиевые конструкции</div>
            <p class="title aluminium__title-margin-top">Система Alustar КПТ74</p>
            <p class="text-container aluminium__text-block">Система обладает хорошей теплоизоляцией благодаря внутренней термовставке шириной 24мм из полиамида. Цвет конструкции со стороны помещения и со стороны улицы может быть разным. Толщина конструкции 74мм. Система Alustar КПТ74 позволяет изготавливать «теплые» двери, балконные ограждения как глухие, так и со встроенными распашными створками.</p>
            <div class="aluminium__img-block aluminium__margin-top"><img src="./img/aluminium-1.png"><img src="./img/aluminium-2.png"><img src="./img/aluminium-3.png"></div>
            <p class="aluminium__white aluminium__text aluminium__margin-top">Данная система применяется для изготовления «Теплых» конструкций из алюминия и идеально подходит для изготовления:</p>
            <div class="aluminium__product-block"><a class="product-type" href="#" style="background-image: url(./img/product-type-1.png);">
                <p>окон</p></a><a class="product-type" href="#" style="background-image: url(./img/product-type-2.png);">
                <p>дверей</p></a><a class="product-type" href="#" style="background-image: url(./img/product-type-3.png);">
                <p>фасадов</p></a><a class="product-type" href="#" style="background-image: url(./img/product-type-4.png);">
                <p>витражей</p></a>
            </div>
            <p class="aluminium__white title aluminium__title-margin-top">Система Alustar КП45</p>
            <p class="text-container aluminium__text-block">Система отличается разнообразием возможностей и малой толщиной конструкции — всего 45мм. Позволяет изготавливать холодные витражи, фальшвитражи, остекление балконов, внутренние перегородки как глухие, так и со встроенными распашными створками, дверями.</p>
            <div class="aluminium__img-block aluminium__margin-top"><img src="./img/aluminium-1.png"><img src="./img/aluminium-2.png"><img src="./img/aluminium-3.png"></div>
            <p class="aluminium__white title aluminium__title-margin-top">Система Alustar КП70</p>
            <p class="text-container aluminium__text-block">
              Применяется для изготовления офисных модульных перегородок с дверьми (распашными или маятниковыми).<br /> Система Alustar КП70 предназначена для формирования помещений и может применяться в выставочных центрах, торговых залах, административных зданиях. Конструкция позволяет осуществлять разводку коммуникаций (компьютерной, телефонной и электрических сетей) в полости каркаса перегородки, устанавливать на профиль розетки и выключатели с обеих сторон конструкций.</p>
            <div class="aluminium__flex-box aluminium__margin-top">
              <div class="aluminium__video-block">
                <iframe class="porduct-description__video" src="https://www.youtube.com/watch?v=XcmEVSi5ADM" frameborder="0"></iframe>
                <iframe class="porduct-description__video" src="https://www.youtube.com/watch?v=8FsQL8SYZhQ" frameborder="0"></iframe>
              </div><img src="./img/aluminium-7.png">
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="wrapper">
          <div class="footer__item">
            <nav>
              <ul>
                <li class="footer__list-item"><a class="footer__link" href="#">О компании</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Партнеры</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Контакты</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Направления</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Инвесторам</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Закупки</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__item">
            <nav>
              <ul>
                <li class="footer__list-item"><a class="footer__link" href="#">Новости</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Офисы продаж </a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Вакансии</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Обратная связь</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Справочный центр</a></li>
                <li class="footer__list-item"><a class="footer__link" href="#">Конфиденциальность</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__item">
            <p class="footer__find">ИЩИТЕ НАС В СОЦИАЛЬНЫХ СЕТЯХ</p>
            <div class="footer__social-menu"><a class="footer__social-item" href="#"><svg width="65" height="40" viewBox="0 0 65 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M64.0286 35.075C63.855 34.7648 62.7809 32.2748 57.6121 27.1571C52.2011 21.7981 52.928 22.6683 59.4454 13.4021C63.4149 7.75882 65.0018 4.31253 64.5051 2.83924C64.0327 1.43488 61.1132 1.80536 61.1132 1.80536L51.4056 1.86567C51.4056 1.86567 50.6868 1.76228 50.1498 2.1026C49.6289 2.43861 49.2937 3.21403 49.2937 3.21403C49.2937 3.21403 47.7552 7.5822 45.7039 11.2956C41.3791 19.1316 39.6467 19.5451 38.9401 19.0583C37.2966 17.9254 37.7085 14.5006 37.7085 12.071C37.7085 4.47623 38.7866 1.30995 35.6046 0.491461C34.5466 0.220066 33.7713 0.0391357 31.0699 0.00898065C27.6052 -0.0297901 24.6695 0.0219042 23.0099 0.887784C21.9034 1.46504 21.0514 2.75309 21.5723 2.82632C22.2144 2.91679 23.6681 3.24418 24.4393 4.36423C25.4367 5.80736 25.4004 9.05548 25.4004 9.05548C25.4004 9.05548 25.9738 17.9943 24.0638 19.1057C22.7514 19.8682 20.9545 18.3131 17.0981 11.2008C15.1235 7.56066 13.6294 3.53281 13.6294 3.53281C13.6294 3.53281 13.3427 2.78324 12.8299 2.38261C12.208 1.89582 11.3358 1.74074 11.3358 1.74074L2.10474 1.80105C2.10474 1.80105 0.719679 1.84413 0.210882 2.486C-0.241383 3.05895 0.174539 4.2393 0.174539 4.2393C0.174539 4.2393 7.4027 22.2763 15.5838 31.3702C23.0906 39.7059 31.611 39.1588 31.611 39.1588H35.4714C35.4714 39.1588 36.6384 39.0209 37.232 38.336C37.7812 37.7071 37.761 36.5267 37.761 36.5267C37.761 36.5267 37.6842 30.9997 40.0909 30.1855C42.4613 29.3843 45.506 35.5273 48.7324 37.8923C51.1714 39.68 53.0249 39.288 53.0249 39.288L61.6543 39.1588C61.6543 39.1588 66.1688 38.8616 64.0286 35.075Z" fill="black"/>
</svg>
</a><a class="footer__social-item" href="#"><svg width="37" height="40" viewBox="0 0 37 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32.2431 0H4.85644C2.33915 0 0.291992 2.20463 0.291992 4.91556V34.4089C0.291992 37.1198 2.33915 39.3245 4.85644 39.3245H18.5498V25.8067H13.9853V19.6622H18.5498V14.7467C18.5498 10.6741 21.6148 7.37334 25.3965 7.37334H29.9609V13.5178H27.6787C26.4189 13.5178 25.3965 13.39 25.3965 14.7467V19.6622H31.102L28.8198 25.8067H25.3965V39.3245H32.2431C34.7604 39.3245 36.8076 37.1198 36.8076 34.4089V4.91556C36.8076 2.20463 34.7604 0 32.2431 0Z" fill="black"/>
</svg>
</a><a class="footer__social-item" href="#"><svg width="38" height="40" viewBox="0 0 38 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.7941 0H12.0615C5.74222 0 0.617676 5.50297 0.617676 12.2889V27.0356C0.617676 33.8215 5.74222 39.3245 12.0615 39.3245H25.7941C32.1133 39.3245 37.2379 33.8215 37.2379 27.0356V12.2889C37.2379 5.50297 32.1133 0 25.7941 0ZM33.8047 27.0356C33.8047 31.7791 30.2114 35.6378 25.7941 35.6378H12.0615C7.64418 35.6378 4.05082 31.7791 4.05082 27.0356V12.2889C4.05082 7.54538 7.64418 3.68667 12.0615 3.68667H25.7941C30.2114 3.68667 33.8047 7.54538 33.8047 12.2889V27.0356Z" fill="black"/>
<path d="M18.9275 9.83008C13.8716 9.83008 9.77246 14.232 9.77246 19.6612C9.77246 25.0904 13.8716 29.4923 18.9275 29.4923C23.9834 29.4923 28.0826 25.0904 28.0826 19.6612C28.0826 14.232 23.9834 9.83008 18.9275 9.83008ZM18.9275 25.8056C15.7736 25.8056 13.2056 23.048 13.2056 19.6612C13.2056 16.2719 15.7736 13.5167 18.9275 13.5167C22.0814 13.5167 24.6494 16.2719 24.6494 19.6612C24.6494 23.048 22.0814 25.8056 18.9275 25.8056Z" fill="black"/>
<path d="M28.7692 10.4042C29.443 10.4042 29.9891 9.81767 29.9891 9.09418C29.9891 8.37069 29.443 7.78418 28.7692 7.78418C28.0955 7.78418 27.5493 8.37069 27.5493 9.09418C27.5493 9.81767 28.0955 10.4042 28.7692 10.4042Z" fill="black"/>
</svg>
</a><a class="footer__social-item" href="#"><svg width="54" height="40" viewBox="0 0 54 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M52.0501 6.15334C51.4459 3.7472 49.6749 1.85046 47.4289 1.20256C43.3259 0 26.9135 0 26.9135 0C26.9135 0 10.5017 0 6.39866 1.15696C4.19594 1.80418 2.38172 3.74754 1.77751 6.15334C0.697754 10.5481 0.697754 19.6622 0.697754 19.6622C0.697754 19.6622 0.697754 28.8223 1.77751 33.1711C2.38236 35.5769 4.15273 37.4737 6.39898 38.1216C10.5449 39.3245 26.9141 39.3245 26.9141 39.3245C26.9141 39.3245 43.3259 39.3245 47.4289 38.1675C49.6752 37.5199 51.4459 35.6232 52.0507 33.2174C53.1302 28.8223 53.1302 19.7085 53.1302 19.7085C53.1302 19.7085 53.1734 10.5481 52.0501 6.15334ZM21.6881 28.0822V11.2423L35.3359 19.6622L21.6881 28.0822Z" fill="black"/>
</svg>
</a></div>
          </div>
        </div>
      </footer>
      <form class="popup">
        <p class="popup__title">Оставьте свою заявку на замер</p>
        <button class="popup__close" type="button"></button>
        <div class="popup__flex-box">
          <div>
            <input class="popup__input" type="text" placeholder="ФИО">
          </div>
          <div>
            <input class="popup__input" type="text" placeholder="+ 7 777 2112121">
          </div>
          <div class="popup__margin">
            <input class="popup__input" type="text" placeholder="Комментарий">
          </div>
          <div class="popup__margin">
            <button class="popup__button" type="submit">Оставить заявку</button>
          </div>
        </div>
      </form>
    </div>
    <script src="./main.js"></script>
  </body>
</html>

assets/pages/aluminium-constructions.pug
extends ../templates/base

block content
  .aluminium
    img.aluminium__yellow-spot(src="./img/yellow-spot.png")
    .wrapper
      .aluminium__title Алюминиевые конструкции
    
      p.title.aluminium__title-margin-top Система Alustar КПТ74
      p.text-container.aluminium__text-block Система обладает хорошей теплоизоляцией благодаря внутренней термовставке шириной 24мм из полиамида. Цвет конструкции со стороны помещения и со стороны улицы может быть разным. Толщина конструкции 74мм. Система Alustar КПТ74 позволяет изготавливать «теплые» двери, балконные ограждения как глухие, так и со встроенными распашными створками.
      .aluminium__img-block.aluminium__margin-top
        img(src="./img/aluminium-1.png")
        img(src="./img/aluminium-2.png")
        img(src="./img/aluminium-3.png")
      
      p.aluminium__white.aluminium__text.aluminium__margin-top Данная система применяется для изготовления «Теплых» конструкций из алюминия и идеально подходит для изготовления:
      .aluminium__product-block
        -
          const productTypes = [
            {
              link: "#",
              img: "./img/product-type-1.png",
              title: "окон"
            },
            {
              link: "#",
              img: "./img/product-type-2.png",
              title: "дверей"
            },
            {
              link: "#",
              img: "./img/product-type-3.png",
              title: "фасадов"
            },
            {
              link: "#",
              img: "./img/product-type-4.png",
              title: "витражей"
            },
          ];
        each productType in productTypes
          include ../modules/product-type/module
      
      p.aluminium__white.title.aluminium__title-margin-top Система Alustar КП45
      p.text-container.aluminium__text-block Система отличается разнообразием возможностей и малой толщиной конструкции — всего 45мм. Позволяет изготавливать холодные витражи, фальшвитражи, остекление балконов, внутренние перегородки как глухие, так и со встроенными распашными створками, дверями.
      .aluminium__img-block.aluminium__margin-top
        img(src="./img/aluminium-1.png")
        img(src="./img/aluminium-2.png")
        img(src="./img/aluminium-3.png")
      
      p.aluminium__white.title.aluminium__title-margin-top Система Alustar КП70
      p.text-container.aluminium__text-block Применяется для изготовления офисных модульных перегородок с дверьми (распашными или маятниковыми).
        <br /> Система Alustar КП70 предназначена для формирования помещений и может применяться в выставочных центрах, торговых залах, административных зданиях. Конструкция позволяет осуществлять разводку коммуникаций (компьютерной, телефонной и электрических сетей) в полости каркаса перегородки, устанавливать на профиль розетки и выключатели с обеих сторон конструкций.
      .aluminium__flex-box.aluminium__margin-top
        .aluminium__video-block
          iframe.porduct-description__video(src="https://www.youtube.com/watch?v=XcmEVSi5ADM", frameborder="0")
          iframe.porduct-description__video(src="https://www.youtube.com/watch?v=8FsQL8SYZhQ", frameborder="0")
        img(src="./img/aluminium-7.png")
